# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Brackeys2021.2-Jam.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Ace\Projects\Brackeys2021.2-Jam\.idea\.idea.Brackeys2021.2-Jam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
